{% extends 'base.html' %}
{% block css %}
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.css"
    rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
<h2>Welcome</h2>
{{ div | safe }}
<p>There have been {{ posts }} posts on the message board in {{ threads }} new threads.</p>
<a href="/students"><button type="button" class="btn btn-primary">Students</button></a>
<a href="/questions"><button type="button" class="btn btn-primary">Questions</button></a>
{% endblock %}
{% block javascript %}
{{ script | safe }}
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.js"></script>
{% endblock %}
